{require_otp_vsn, "R14|R15|R16|17"}.
{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
{port_env, [{"(linux|solaris)", "CFLAGS", "$CFLAGS -O2"},
            {"(freebsd)", "CFLAGS", "$CFLAGS -O2"},
            {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -llzo2"},
            {"(freebsd)", "LDFLAGS", "$LDFLAGS -llzo2"}]}.
{port_specs, [{"priv/lib/lzo1.so", ["c_src/lzo1.c"]},
              {"priv/lib/lzo2.so", ["c_src/lzo2.c"]}]}.
{eunit_opts, [verbose]}.
